<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New</title>
    <link rel="stylesheet" href="../static/style.css" />
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="nav-logo-searchbar">
          <img src="../static/logo.png" alt="" class="logo">
        </div>
      </div>
      
      </nav>
      <!-- Navbar section end here -->
    <section>
            <!-- Simple Interest Calculator -->
      <div class="card-container expand">
        <button id="btn" class="btn sic">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>Simple Interest Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

            <!-- Compound Interest Calculator -->
      <div class="card-container">
        <button id="btn" class="btn cic">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>Compound Interest Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

            <!-- Gratuity Calculator -->
      <div class="card-container">
        <button id="btn" class="btn gc">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>Gratuity Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>
<!-- PF Calculator -->
      <div class="card-container">
        <button id="btn" class="btn pf">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>PF Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>
<!-- Salary Calculator -->
      <div class="card-container">
        <button id="btn" class="btn salary">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>Salary Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

<!-- PPF Calculator -->
      <div class="card-container expand">
        <button id="btn" class="btn publicProvidentFund">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>PPF Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

            <!-- NPS Calculator -->
      <div class="card-container">
        <button id="btn" class="btn nps">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>NPS Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

            <!-- RD Calculator -->
      <div class="card-container">
        <button id="btn" class="btn rd">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>RD Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

      <!-- FD Calculator -->
      <div class="card-container">
        <button id="btn" class="btn fd">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>FD Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

      <!-- LTCG Calculator -->
      <div class="card-container">
        <button id="btn" class="btn ltcg">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>LTCG Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

      <!-- ROI Calculator -->
      <div class="card-container">
        <button id="btn" class="btn roi">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>ROI Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

      <!-- GST Calculator -->
      <div class="card-container">
        <button id="btn" class="btn gst">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>GST Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        <div class="red">
          
        </div>
      </div>

      <!-- Discount Calculator -->
      <div class="card-container">
        <button id="btn" class="btn discount">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>Discount Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        <div class="red">
          
        </div>
      </div>

      <!-- EMI Calculator -->
      <div class="card-container">
        <button id="btn" class="btn emi">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>EMI Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

      <!-- Down Payment Calculator -->
      <div class="card-container">
        <button id="btn" class="btn downPayment">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>Down Payment Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

      <!-- CAGR Calculator -->
      <div  class="card-container">
        <button id="btn" class="btn cagr">Calculate Now</button>
        <div class="card-content">
          <div class="heading">
            <h2>CAGR Calculator</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga,
              eius.
            </p>
          </div>
        </div>
        
      </div>

      <!-- <button class="btn">Calculate Now</button> -->
      
      <div id="cal-Box" class="calculator-box">

        <div class="flex-box">
        
        <div id="cross">
          <img src="../static/x-mark.png" alt="cross" class="img">
        </div>
        <div id="inside-popup" class="inside-popup">
        </div>
</div>
      </div>
    </section>


    <script src="../static/script.js"></script>
  </body>
</html>
